%h2
  Question:
  = @question.description
  %br


%h2
  Options:
  %br
  %h3
  - @option.each do |op|
    %td= op.description
    %br
%br
= link_to "Back Question", survey_questions_path(@survey)
= link_to "Edit Question", edit_survey_question_path(@survey,@question)
